:root {
    --color-bg: #324047;
    --color-bg-alter: #efefef;
    --color-primary: #00cece;
    --color-primary-alter: #00A8A8;
    --transition: all 400ms ease;;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-bg);
    font-family: 'Roboto';
    padding: 2rem 1rem 0rem 1rem;
}

.header__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.header__intro {
    color: var(--color-bg-alter);
    font-weight: 400;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 50%;
}

h2,p {
    color: var(--color-bg-alter);
}

h3 {
    color: var(--color-bg);
}

.container{
    background: var(--color-bg-alter);
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.form__container {
    flex: 60%;
}

label {
    font-weight: 600;
    color: var(--color-bg);
}

input, button {
    height: 2rem;
    border-radius: 0.25rem;
    border: 0.1rem solid var(--color-primary-alter);
    padding-left: 1rem;
    color: var(--color-bg);
}

input::placeholder {
    color: var(--color-primary);
    font-weight: 50;
}

input:focus {
    outline: none;
    border: 0.1rem solid var(--color-primary);
}

.icon__container{
    height: 2.15rem;
}

[type="checkbox"]
{
    vertical-align:middle;
}

.checkout__button {
    background: var(--color-primary-alter);
    border-radius: 0.25rem;
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: var(--color-bg-alter);
}
.checkout__button:hover {
    background: var(--color-primary);
    color: var(--color-bg);
    transition: var(--transition);
    /* border: 0.1rem solid var(--color-primary-alter); */
}

.cart__container {
    flex: 10%;
    height: fit-content;
}

span {
    float: right;
}

p {
    font-weight: 600;
    color: var(--color-bg);
}

a {
    color: var(--color-primary);
}

th {
    color: var(--color-primary-alter);
}

table ,th,  td {
    border: 0.1rem solid var(--color-bg);
    border-collapse: collapse;
    padding: 0.25rem;
}

.table__container {
    width: fit-content;
}

tr:nth-child(even) {
    background-color: var(--color-primary);
}

@media (max-width: 800px) {
    .row {
    
      flex-direction: column-reverse;
    }
    .column {
      margin-bottom: 20px;
    }
  }