body{
    font-family: Arial;
    font-size: 15px;
}
*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin:0 10px;
}
.container{
    background-color:#F2F2F2;
    padding: 5px 20px 15px 20px;
    border: 2px solid lightgray;
    border-radius: 5px;
}
.col-75{
    flex:75%;
}
.col-50{
    flex:50%;
}
.col-25{
    flex:25%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
  }
input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

.icon{
    font-size: 24px;
    padding: 8px 0;
    margin-bottom: 18px;
}

.btn{
    background-color: #00AB6F;
    color:#F2F2F2;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 12px 0;
}

.btn:hover {
    background-color: #45a049;
  }
  
span.price {
    float: right;
    color: grey;
  }

table{
    width: 90%;
    border-collapse: collapse;
    margin: 25px auto;
    table-layout: fixed;
    text-align: center;
}

td,tr{
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 15px;
}
