.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  flex: 25%;
}

.col-50 {
  flex: 15%;
}

.col-75 {
  flex: 60%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 30px;
  padding: 12px 2px 12px 2px;
  border: 2 px solid #ccc;
  border-radius: 3px;
}
input[type="number"] {
  width: 100%;
  margin-bottom: 30px;
  padding: 12px 2px 12px 2px;
  border: 2 px solid #ccc;
  border-radius: 3px;
}
input[type="email"] {
  width: 100%;
  margin-bottom: 30px;
  padding: 12px 2px 12px 2px;
  border: 2 px solid #ccc;
  border-radius: 3px;
}
input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 5px #5682b1;
}

/* .form-control i.fa-check-circle {
  float: right;
}
.form-control input:valid i.fa-check-circle {
  color: green;
}
.form-control input:invalid i.fa-check-circle {
  color: red;
} */
/* .form-control {
  position: relative;
}
.form-control input + span {
  position: relative;
}

.form-control input + span::before {
  position: absolute;
  right: -15px;
  top: -10px;
}

.form-control input:invalid + span::before {
  content: "✖";
  color: red;
}

.form-control input:valid + span::before {
  content: "✓";
  color: green;
} */

label {
  margin-bottom: 5px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 32px;
}

.btn {
  background-color: #04aa6d;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

.checkout-table {
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
  min-width: 480px;
}
.checkout-table thead tr {
  background-color: #45a049;
  color: #ffff;
  text-align: left;
  font-weight: bold;
}
.checkout-table td,
.checkout-table th {
  max-width: 1rem;
  border: 3px solid #dddddd;
  text-align: left;
  padding: 12px 15;
}
.checkout-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.checkout-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.checkout-table tbody tr:last-of-type {
  border-bottom: 3px solid #45a049;
}
td.stt {
  max-width: 1rem !important;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
